.movieHeader {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border: solid var(--main-bg-color);
	border-width: 3px;
  border-radius: 17px;
  margin-bottom: 10px;
  margin-top: 0px;
  background-color: #2c4fb8;
}

.movieImage{
  margin-bottom: 0px;
}

.movieData{
  margin-bottom: 10px;
}
